on init

# Put download cache on /data partition due to size limitations
	export DOWNLOAD_CACHE /data/download

# Insert modules
    insmod /lib/modules/fsr.ko
    insmod /lib/modules/fsr_stl.ko
    insmod /lib/modules/jbd2.ko
    insmod /lib/modules/ext4.ko

# Samsung Paramter driver
    insmod /lib/modules/sec_param.ko


    chmod 0770 /dev/stl9
    chmod 0770 /dev/stl10
    chmod 0770 /dev/stl11
    chmod 0770 /dev/stl12
    chmod 0770 /dev/stl13
    chmod 0770 /dev/stl14
    chmod 0770 /dev/stl15

    chmod 0770 /dev/bml7
    chmod 0770 /dev/bml9
    chmod 0770 /dev/bml10
    chmod 0770 /dev/bml11
    chmod 0770 /dev/bml12
    chmod 0770 /dev/bml13
    chmod 0770 /dev/bml14
    chmod 0770 /dev/bml15


# Mount partitions
	mount ext4 /dev/block/stl12 /system wait noatime nodiratime noauto_da_alloc ro
	mount ext4 /dev/block/stl13 /data wait nosuid nodev noatime nodiratime noauto_da_alloc
	mount ext4 /dev/block/stl14 /cache wait nosuid nodev noatime nodiratime noauto_da_alloc

# Backwards Compat - XXX: Going away in G*
    symlink /mnt/sdcard /sdcard
    mkdir /cache 0770 system cache
    mkdir /config 0500 root root

# Directory for putting things only root should see.
    mkdir /mnt/secure 0700 root root

# Collect ramconsole data
    copy /proc/last_kmsg /data/dontpanic/last_kmsg
    chown root log /data/dontpanic/last_kmsg
    chmod 0640 /data/dontpanic/last_kmsg

    chmod 0660 /dev/graphics/fb0


# create log system
    mkdir /data/log  0777 root root
    chmod 0777 /data/log

# create anr log 
    mkdir /data/anr  0777 root root
    chmod 0777 /data/anr

# anr mode chage
    mkdir /data/anr 0777 system system 
    chmod 0777 /data/anr


# create fumo
    mkdir /cache/fumo 0770
    chown system system /cache/fumo
    chmod 0770 /cache/fumo

# change the permissionsensor chips
	chmod 0660 /dev/proximity
	chmod 0660 /dev/mmc31xx
	chmod 0660 /dev/bma_accel
	chmod 0660 /dev/kr3dm_accel
	chmod 0666 /data/misc/sensors/ecs_nvm
	chmod 0666 /data/misc/sensors/accel_offset
	chmod 0660 /dev/ecompass_ctrl
	chown system system /dev/mmc31xx	
	chown system system /dev/kr3dm_accel	
	chown system system /dev/ecompass_ctrl	
	chown system system /dev/proximity

# give read permission for others
# this allows dumpsate to execute procrank
# remove this for final build!
	chmod 0444 /proc/kpagecount
	chmod 0444 /proc/kpageflags	

# ppp modules
 mknod 0666 /dev/ppp c 108 0

# for Gps Clp certificates

    mkdir /data/clp
    chmod 0777 /data/clp

    mount rootfs rootfs / ro remount

    write /proc/sys/kernel/panic_on_oops 1
    write /proc/sys/kernel/hung_task_timeout_secs 0
    write /proc/cpu/alignment 4
    write /proc/sys/kernel/sched_latency_ns 10000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000
    write /proc/sys/kernel/sched_compat_yield 1
    write /proc/sys/kernel/sched_child_runs_first 0
#_______________________________________________________________________________________________________________________-
on boot


# Set up WiFi and Bluetooth as soon as possible
	setprop ro.bt.bdaddr_path "/data/.nvmac_bt.info"

# Put download cache on /data partition due to size limitations
	mkdir /data/download 0771 system cache

# For VPN (workaround)
	mkdir /data/data/misc 0777 system system
	mkdir /data/data/misc/vpn 0777 system system
	mkdir /data/data/misc/vpn/profiles 0777 system system

# For sensors
	mkdir /data/misc/sensors 0777 system misc
	chmod 0666 /data/misc/sensors/ecs_nvm
	chmod 0666 /data/misc/sensors/accel_offset


#Permissions for qmuxd
    chown radio radio /dev/smdcntl0
    chown radio radio /dev/smdcntl1
    chown radio radio /dev/smdcntl2

# Setup bluetooth
	mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
	chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
	chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
	chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
	chown bluetooth bluetooth /proc/bluetooth/sleep/proto
	chown system system /sys/module/sco/parameters/disable_esco
	chmod 0666 /sys/module/bluetooth_power/parameters/power
	chmod 0666 /sys/class/rfkill/rfkill0/state
	chmod 0666 /proc/bluetooth/sleep/proto
	chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
	chmod 0666 /sys/devices/platform/msm_serial_hs.0/clock

# Create WIFI filesystem structure
	mkdir /data/misc 01771 system misc
	mkdir /data/misc/wifi 0770 system wifi
	mkdir /data/misc/wifi/sockets
	chown system wifi /data/misc/wifi/sockets
	chmod 770 /data/misc/wifi/sockets
	mkdir /data/misc/dhcp 0770 dhcp dhcp
	chown dhcp dhcp /data/misc/dhcp
	mkdir /data/system 0775 system system

# Permission for ril
	mkdir /data/misc/radio 0774 radio radio
	mkdir /data/local
	chmod 0777 /data/local
	chown radio shell /data/local
	mkdir /data/local/tmp
	chmod 0777 /data/local/tmp
	chown radio shell /data/local/tmp

# For qmuxd socket
	mkdir /data/radio 0770 radio radio
	chown radio radio 0770 /data/radio

# SD card polling
	chown system system /sys/module/g_android/parameters/product_id
	chown system system /sys/devices/platform/msm_sdcc.1/polling
	chown system system /sys/devices/platform/msm_sdcc.2/polling
	chown system system /sys/devices/platform/android_usb/composition
        chown system system /sys/module/g_android/parameters/product_id
        chown system system /sys/devices/platform/msm_sdcc.1/polling
        chown system system /sys/devices/platform/msm_sdcc.2/polling
        chown system system /sys/devices/platform/msm_sdcc.3/polling
        chown system system /sys/devices/platform/msm_sdcc.4/polling
        chown system system /sys/devices/platform/android_usb/composition
        chown system system /sys/devices/platform/android_usb/remote_wakeup

# MAX8899 headset detect
	chown radio system /sys/class/switch/h2w/state

# for silent reset
	chown system system /proc/dump_enable
	chown system system /proc/silent

# Force Power Down
	chmod 0660 /sys/class/sec/pm/power_down
	chown root system /sys/class/sec/pm/power_down

# for Dump On/Off
	chmod 0777 /data/dump_enable

# for multi csc
	chown radio radio /proc/LinuStoreIII/efs_info 
	chmod 0664 /proc/LinuStoreIII/efs_info

# for protecting key string
	chown radio radio /proc/LinuStoreIII/keystr 
	chmod 0664 /proc/LinuStoreIII/keystr

# sound text data file
	chmod 0777 /data/soundbooster.txt
	chmod 0777 /data/aeqcoe.txt
	chmod 0777 /data/lmfilter.txt
	chmod 0777 /data/eqfilter.txt
	chmod 0777 /data/situation.txt
	chmod 0777 /data/stream_headset.txt
	chmod 0777 /data/stream_speaker.txt

#Touch multi-touch permissions
    chmod 0666 /sys/class/sec/ts/firmware1

# for datarouter
    chown system system /dev/dun
    chown system system /dev/smd0
    chown system system /sys/devices/platform/msm_hsusb/gadget/usb_state

    class_start default

#Define modem related settings
    setprop ro.radio.use-ppp yes

#SecFeature.SprintHotspot start
    chown system system /system/bin/softap_event
    chmod 4775 /system/bin/softap_event
##SecFeature.SprintHotspot end

# WIFI
	mkdir /data/misc/wifi/sockets 0770 wifi wifi
	mkdir /data/misc/wifi/hostapd 0770 wifi wifi

# DHCP
	mkdir /data/misc/dhcp 0770 dhcp dhcp
	mkdir /data/misc/dhcp 0777 system system
	chmod 0666 /data/bdaddr

# Assign TCP buffer thresholds to be ceiling value of technology maximums
# Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  262144
    write /proc/sys/net/core/wmem_max  262144

## Daemon processes to be run by init.
##

service pppd_cdma /system/bin/pppd_runner
    user root
    group radio cache inet misc system audio sdcard_rw net_admin net_raw log
    disabled
    oneshot

on property:ril.cdma.data_ready=true
    start pppd_cdma

on property:ril.cdma.data_ready=false
    stop pppd_cdma    

service wpa_supplicant /system/bin/wpa_supplicant -Dwext -ieth0 -c/data/misc/wifi/wpa_supplicant.conf
	group wifi inet
        socket wpa_eth0 dgram 660 wifi wifi
	disabled
	oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
	disabled
	oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
	disabled
	oneshot

service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm --baudrate 3000000 \
	--patchram /system/bin/BCM4329B1_002.002.023.0746.0827.hcd \
	-d /dev/ttyHS0 
	user bluetooth
	group bluetooth net_bt_admin
	disabled

service memsicd /system/bin/memsicd
	user system
	group system
	oneshot

service qmuxd /system/bin/qmuxd
    user radio
    group system radio inet

